div {
    border: thick solid black;
    border-radius: 10px
    background-color: grey;
    text-algin: center;
}

h2 {
    color: lightgreen;
    text-align: center;
}

h3 {
    color: blue;
}

.p {
    color: red;
}

#truth {
    background-color: lightgrey;
    text-align: center;
    display;inline-block;
}